<!DOCTYPE html>
<html>
  <head>
    <title>Events</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" type="text/css" href="/static/table.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="../static/togglescript.js"></script>
   
  </head>
  <body>
     <!-- Menu Button (☰) on the Right Side -->
   <button class="menu-btn" onclick="toggleDropdown()">&#9776;</button>

   <!-- Dropdown Menu -->
   <div class="dropdown-menu-custom" id="dropdownMenu">
    <a href="/userdashboard">Dashboard</a>
    
       <a href="/">Logout</a>
      
   </div>
<br><br><br><br>
   <center>

    <h1 style="color: #176d2f;">View Events</h1>
    
    <div class="flashes">
      {% for message in get_flashed_messages() %}
      {{ message }}
      {% endfor %}
    </div>
    <div class="table-container">
     
      <table id="mytable">
        
        <thead>
          <tr>
            <th>Name</th>
            <th>Event Type</th>
            <th>No of Slots Available</th>
            <th>Action</th>
           
          </tr>
        </thead>
        <tbody>
          {% for r in res %}
          <tr>
            <td>{{ r[1] }}</td>
            <td>{{ r[2] }}</td>
            <td>{{ r[3] }}</td>
            <td><a href="bookslotpage?id={{r[0]}}" class="linkbtn">BOOK SLOT</a></td>
            
           
            
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </center>
    
  
   

   
  </body>
</html>
